.today-job-wrapper{
    padding: 20px;
}
.card {
    /* background: linear-gradient(135deg, #3a0ca3, #7209b7); */
    border-radius: 25px;
    padding: 20px;
    color: white;

    background:
            linear-gradient(135deg,
                rgba(58, 12, 163, 0.95),
                rgba(113, 9, 183, 0.705)),
            url("../../Asset/Images/labour.jpg");
    
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;
    /* box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2); */
}
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date {
    font-size: 12px;
    opacity: 0.7;
}
.cardBody {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.leftSection {
    flex: 1;
    padding: 10px;
    background: #736ef1;
    border-radius: 15px;
}

.bigNumber {
    font-size: 40px;
    font-weight: 700;
}

.statusText {
    font-size: 14px;
    opacity: 0.8;
}

.progressBar {
    margin: 12px 0;
    height: 6px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.progressFill {
    width: 60%;
    height: 100%;
    background: #4cc9f0;
    border-radius: 10px;
}

.rightSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: center;
}
.statBox {
    background: rgba(255, 255, 255, 0.15);
    padding: 7px 12px;
    border-radius: 14px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border: 1px solid #736ef1;
}
.bottomActions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.searchBox {
    flex: 1;
    background: #f1f1f1;
    border-radius: 15px;
    padding: 10px 14px;
    display: flex;
    align-items: center;
    gap: 8px;

    input {
        border: none;
        outline: none;
        background: transparent;
        flex: 1;
        font-family: inherit;
    }
}