.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding-bottom: 10px;
}

.left{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #1a1a1a;
}