.bottom-nav-wrapper{
    padding: 0px 20px;
}
.bottom-nav-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 65px;
    background: #000000a6;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9px;
    z-index: 1000;
}
.bottom-nav-container::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 40px;

    background: linear-gradient(145deg,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2));

    z-index: -1;
}

.nav-item {
    font-size: 22px;
    color: #d4d7dc;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 0px 15px;
    height: 52px;
    display: flex;
    border-radius: 50px;
}

.nav-item:hover {
    color: #ffffff;
    /* transform: scale(1.1); */
}

.active{
    background: #f29d2e;
    color: #ffffff;
}