.bottom-nav-wrapper{
    padding: 0px 20px;
}
.bottom-nav-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 92%;
    height: 65px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
    border-radius: 35px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

.nav-item {
    font-size: 22px;
    color: #7a7a7a;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 0px 20px;
    height: 60px;
    display: flex;
}

.nav-item:hover {
    color: #000;
    /* transform: scale(1.1); */
}

/* Center floating button */
.nav-center-button {
    position: absolute;
    top: -25px;

    width: 65px;
    height: 65px;

    background: #f1f1f1;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 26px;
    color: #000;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
}

.nav-center-button:hover {
    transform: scale(1.1);
}

.active{
    border-radius: 50px;
    background: red;
    color: #000;
}