@font-face {
    font-family: "Euclid Circular A Medium";
    src: url("../fonts/EuclidCircularA-Medium.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Euclid Circular A Regular";
    src: url("../fonts/EuclidCircularA-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Euclid Circular A Bold";
    src: url("../fonts/EuclidCircularA-Bold.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}